<h1>Post</h1>

{{#with post}}
    <h3>{{title}}</h3>
    <p> {{category}} </p>
    <p> {{body}} </p>
    <p> {{category}} </p>
    <p>Número de comentários: <strong>{{comments}}</strong>  </p>
{{/with}}